.modal-container{
  margin-top: 6vh;
  padding: 20px;
  width: 100%;
  max-width: 100rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.modal-model{
  padding: 2rem;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  max-width: 50rem;
}

.modal-model-try{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    width:90%;
    margin: 0 auto;
}

.modal-button{
    cursor:pointer;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #8bdf8b;
    outline: none;
    border: none;
}
.modal-button:hover{
    background: green;
    color: #ffffff;
}

@media (width > 768px) {
    .modal-model-try{
        width: 60%;
    }
}

.notification {position:absolute;bottom:4px;right:4px;padding: 5px;width:max-content;height:50px;border-radius:6px;background-color:#313e2c;color:#aaec8a;box-shadow: 0 1px 10px rgba(0,0,0,0.1);transform: translateY(30px);opacity:0;visibility: hidden; animation: fade-in 3s linear;} .notification_icon{height:26px;width:26px;margin-right: 4px;} .notification_body{display:flex; flex-direction: row; align-items: center; padding: 16px 8px;} .notification_progress{position:absolute; left:4px; bottom:4px; width: calc(100% - 8px); height: 3px; transform: scaleX(0); transform-origin: left; background: linear-gradient(to right, #313e2c, #aaec8a); border-radius: inherit; animation: progress 2.5s 0.3s linear;} @keyframes fade-in{5% {opacity: 1; visibility:visible;transform:translateY(0);}95%{opacity:1;transform:translateY(0);}} @keyframes progress {to{transform: scaleX(1);}}

.clipboard{padding: 0.7rem 1.2rem;width:max-content;border: 1px solid rgba(0,0,0,0.5);color: white;transform: translateY(30px);background: rgb(69, 70, 68);border-radius: 20px;position:absolute;bottom:4px;right:4px;z-index: 1;height: 50px;opacity:0;visibility: hidden;animation: fade-in 3s linear;}@keyframes fade-in{5% {opacity: 1; visibility:visible;transform:translateY(0);}95%{opacity:1;transform:translateY(0);}} @keyframes progress {to{transform: scaleX(1);}}