.badge-container{
    width: 40%;
    max-width: 250px;
    height: 15rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    backdrop-filter: blur(10px);
    background: rgb(255, 255, 255);
    margin: 3px;
    border-radius: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.badge-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position:relative;
    height: 4.375rem;
}
.badge-buttons{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.badge-author{
  font-size: 0.9rem;
  color: rgb(176, 176, 176);
}
  

@media screen and (width > 720px) {
    .badge-container{
        width: 40%;
    }
}
@media screen and (width > 1024px) {
    .badge-container{
        width: 30%;
    }
}

@media screen and (width > 1240px) {
    .badge-container{
        width: 25%;
    }
}
