.header{
    width: 100%;
    height:auto;
    position: fixed;
    display:flex;
    flex-direction:column;
    align-items: center;
    z-index: 5;
}
.header-container{
    width: 100%;
    height:6vh;
    background: #454545;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-menu{
    color: white;
    font-size: 1.6em;
    cursor: pointer;
}
.header-nav{
    display: none;
    position: absolute;
    top:6vh;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 50%;
    background: rgba(45,45,45,0.7);
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.show{
    display: flex;
}
.header-nav-button{
    width:100%;
    font-size: 1.1em;
    color: rgb(229, 229, 229);
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

.header-nav-button:hover{
    color: rgb(207, 207, 207);
}

.collapse-button{
    font-size: 0.8em;
    display: inline-block;
    padding-left: 10px;
    text-align: right;
}
.header-nav-sub{
    display:none;
    flex-direction: column;
    padding-left: 1.5rem;
}
.collapse{
    display: flex;
}

.sub{
    font-size: 0.9em;
}

@media (width > 1024px) {
    .header-nav{
        width: 20%; 
    }
}