.footer {
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    background: #454545;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.footer-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid rgb(13, 165, 241);
    box-shadow: rgba(92, 240, 248, 0.6) 0px 0px 20px 3px;
  }
  .footer-name {
    font-size: 1.1em;
  }