.clipboard{
    padding: 0.7rem 1.2rem;
    border: 0.5px solid black;
    color: white;
    background: rgb(156, 255, 7);
    border-radius: 20px;
    position:fixed;
    top:10px;
    left:10px;
    z-index: 1;
    margin-top: 6vh;

}