*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
*:link {
  outline: none; /* Elimina el borde de enfoque en todos los elementos */
}
html{
  font-size: 100%;
}
body {
  width: 100%;
  font-family: 'verdana';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
