input[type="color" i] {
    border-radius: 50%;
    inline-size: 20px;
    block-size: 20px;
    border:none;
    overflow: hidden;
    cursor: pointer;
}
input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}
.buildbutton{
    width:100%;
    margin:6vh auto 0 auto;
    padding: 2rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(255,255,255,0.6);
    backdrop-filter: blur(10px);
}
.buildbutton-container, .myButton{
    border:1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 100%;
    padding:0.625rem;
}
.title{
    align-self: flex-start;
}
.buildbutton__text{
    padding:0.625rem;
    width: 100%;
    display:flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.text__inline{
    width:100%;
    display: flex;
    gap: 10px;
}

.buttonbuild__sizing{
    display:flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.buildbutton__colour{
    display:flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.buildbutton__extras{
    display:flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.myButton{
    width: 70%;
    margin: 0 auto;
    height: 300px;
    padding:2rem;
    display:flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.buildbutton-shadow-sub{
    display: flex;
    flex-wrap: wrap;
}
.myButton-style{
    padding: 7px 10px;
}
@media only screen and (width > 1024px) {
    .buildbutton{
        align-items: flex-start;
        flex-direction: row;
    }
    .buildbutton-container{
        height: 300px;
        justify-content: flex-start;
    }
    .buildbutton__text{
        flex-shrink: 2.5;
    }
    
    .buttonbuild__sizing{
        flex-shrink: 2;
    }
    
    .buildbutton__colour{
        flex-shrink: 2;
    }
    
}