.button{
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    place-items:center;
}

.buttons__selection{
    display: flex;
    place-items: center;
    gap: 2rem;
}
.buttons__show{
    width:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    gap: 1rem;
    flex-wrap:wrap;
}

.select__button{
    cursor:pointer;
    padding: .5rem .8rem;
}